

<div id="clients-wrapper">
    <div class="container-fluid">

        <h1>Clients</h1>

        <div class="col-md-12">

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>EWG</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>Asia Foundation</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>OTIS</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>Lakehead</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>Life Group</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>Bangla Trac</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>Haroon</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>NASSA</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>Goynaa</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>Odyssey</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>Akabe</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="client-box-wrapper">
                    <h3>BTCL</h3>
                </div>
            </div>

        </div>

    </div>
</div>
