<div class="about-us-wrapper">

    <div id="owl-demo" class="owl-carousel owl-theme">

        <div class="item">
            <div class="about-us-item-text">
                <h5>Get to know us</h5>
                <h1>About us</h1>
                <h4>We are a small but highly efficient and coherent group
                    <br/>if designers/programmers/analysts. We spend our
                    <br/>nights coding so you done have to
                </h4>
            </div>
            <img class="img-responsive" src="assets/images/about-us.png" alt=""/>
        </div>

    </div>

</div>