<div class="contact-us-wrapper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1290.782995354238!2d90.41465515744409!3d23.787086475807047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1444113848639" width="600" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>

    <div class="col-md-12">

        <div class="col-md-6">
            <h1>Contact Us</h1>
            <h3>Zeteq Systems</h3>
            <p>House 6, Road 33, Gulshan 1, Dhaka-1212</p>
        </div>

        <div class="col-md-6">

        </div>

    </div>
</div>


