@font-face {
    font-family: 'NobelWGLRegular';
    src: url('../fonts/nobelRegular/ufonts.com_nobel-regular-webfont.eot');
    src: url('../fonts/nobelRegular/ufonts.com_nobel-regular-webfont.eot?') format('embedded-opentype'),
    url('../fonts/nobelRegular/ufonts.com_nobel-regular-webfont.woff') format('woff'),
    url('../fonts/nobelRegular/ufonts.com_nobel-regular-webfont.ttf') format('truetype'),
    url('../fonts/nobelRegular/ufonts.com_nobel-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "NobelWGLLight";
    src: url("../fonts/nobelLight/nobel-light-webfont.eot");
    src: url("../fonts/nobelLight/nobel-light-webfont.eot?") format("embedded-opentype"),
    url("../fonts/nobelLight/nobel-light-webfont.woff") format("woff"),
    url("../fonts/nobelLight/nobel-light-webfont.ttf") format("truetype"),
    url("../fonts/nobelLight/nobel-light-webfont.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NobelWGLBold";
    src: url("../fonts/nobelBold/nobel-bold-webfont.eot");
    src: url("../fonts/nobelBold/nobel-bold-webfont.eot?") format("embedded-opentype"),
    url("../fonts/nobelBold/nobel-bold-webfont.woff") format("woff"),
    url("../fonts/nobelBold/nobel-bold-webfont.ttf") format("truetype"),
    url("../fonts/nobelBold/nobel-bold-webfont.svg") format("svg");
    font-style: normal;
    font-weight: bold;
}

/*------------Font end--------------*/

.main-view {
    margin-top: -20px;
}

h1 {
    font-family: 'NobelWGLRegular';
}

h3,h4 {
    font-family: 'NobelWGLLight';
}



/*-------------Loader Start------------*/
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /*background: url(assets/images/loader2.gif) center no-repeat #F9F9F9;*/
}

/*----------Loader End----------*/



/*---------zeteq-menu Start---------*/

#zeteq-menu nav {
    padding-top: 9px;
    padding-bottom: 3px;
}

#zeteq-menu .zeteq-logo {
    width: 70%;
    margin-top: -12px;
}

#zeteq-menu h3 {
    float: right;
    margin-left: -34px;
    margin-top: 14%;
    text-transform: uppercase;
    font-family: 'NobelWGLLight';
    letter-spacing: 4px;
}

.zeteq-menu-text-wrapper {
    margin-left: 20%;
    /*margin-right: 20%;*/
}
.zeteq-menu-text-wrapper h4 {
    text-transform: uppercase;
    font-family: 'NobelWGLLight';
    color: #000;
    font-size: 1.2em;
}

/*---------zeteq-menu End---------*/




/*Home page start*/

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.home-wrapper {
    background-color: #E5E6E7;
    /*margin-top: -20px;*/
    overflow: hidden;
}
.home-wrapper-item {
    /*padding-top: 100px;*/
    /*padding-bottom: 100px;*/
    padding-top: 6%;
    padding-bottom: 5.1%;
}
.home-wrapper-item-text {

}
.home-wrapper-item-img {
    /*padding-top: 120px;*/
    padding-top: 10.6%;
    padding-left: 8%;
    padding-right: 8%;
}
.home-wrapper-item h1 {
    font-family: 'NobelWGLRegular';
    letter-spacing: 6px;
    font-size: 4em;
}
.home-wrapper-item h5 {
    font-family: 'NobelWGLRegular';
    text-transform: uppercase;
    letter-spacing: 3px;
}
.home-wrapper-item h6 {
    font-family: 'NobelWGLRegular';
    font-size: 1.2em;
    letter-spacing: 2px;
    /*padding-top: 22px;*/
    padding-top: 2%;
}
.home-wrapper-item-text-common h1 {
    text-transform: uppercase;
    font-size: 7em;
    letter-spacing: 0.3em;
}
.home-wrapper-item-img-common {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
.home-wrapper-item-text-graphics h1 {
    font-size: 5em;
    letter-spacing: 0.25em;
}
/*---------Home page End-----------*/


/*-------about-us page start--------*/

.about-us-wrapper {
    /*margin-top: -20px;*/
    /*overflow: hidden;*/
}
.about-us-item-text {
    position: absolute;
    top: 12%;
    left: 13%;
    color: #fff;
}
.about-us-item-text h5 {
    font-family: "NobelWGLBold";
    font-size: 1.4em;
}
.about-us-item-text h1 {
    font-family: "NobelWGLLight";
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: .4em;
}
.about-us-item-text h4 {
    font-size: 2em;
}


/*-------about-us page End--------*/


/*------Client page start--------*/

#clients-wrapper {
    background-color: #E5E6E7;
}
.client-box-wrapper {
    width: 200px;
    height: 150px;
    background: #fff;
    position: relative;
    margin: 60px;
}
.client-box-wrapper:before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid #fff;
}
.client-box-wrapper:after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 50px solid #fff;
}

/*--------Client page End----------*/


/*----------Contact page start----------*/

.contact-us-wrapper {
    /*margin-top: -20px;*/
}

.contact-us-wrapper iframe {
    width: 100%;
}

/*----------Contact page End----------*/