<!DOCTYPE html>
<html ng-app="<%=appName%>" ng-controller="AppController">
<head>
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon for Apple and Other-->
    <!--<link rel="apple-touch-icon" sizes="192x192" type="images/png" href="assets/images/favicon.png">-->
    <!--<link rel="icon" sizes="192x192" type="images/png" href="assets/images/favicon.png">-->


    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <script type='text/javascript' src="https://code.jquery.com/jquery-2.1.4.min.js"></script>



    <link rel="stylesheet" href="assets/css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="assets/css/buttons.css"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" />
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.css" type='text/css' media='all'/>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->

</head>
<body>

    <div class="se-pre-con">
        <!--<i class="fa fa-refresh fa-spin"></i>-->
    </div>

    <header id="zeteq-menu">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href ui-sref="home"><img class="zeteq-logo" src="assets/images/zeteq-logo.png" alt=""/></a>
                    <h3>Zeteq</h3>
                </div>

                <ul class="nav navbar-nav zeteq-menu-text-wrapper">
                    <li><a ui-sref="aboutUs"><h4>About us</h4></a></li>
                    <li><a ui-sref="portfolio"><h4>Portfolio</h4></a></li>
                    <li><a ui-sref="clients"><h4>Clients</h4></a></li>
                    <li><a ui-sref="contact"><h4>Contact</h4></a></li>
                    <li><a ui-sref="join_us"><h4>Join us</h4></a></li>
                    <li><a ui-sref="blog"><h4>Blog</h4></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

            </div>
        </nav>

    </header>

    <!-------------main menu end----------->


    <div class="main-view" ui-view="main"></div>

    <!--<footer class="container">-->
        <!--(c) <%= date %> <%= author %>-->
    <!--</footer>-->


    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/js/buttons.min.js"></script>
    <script src="assets/js/modernizr-2.6.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.js"></script>-->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>new WOW().init();</script>

</body>
</html>
