<div id="owl-demo" class="owl-carousel owl-theme home-wrapper">

    <div class="item home-wrapper-item">
        <div class="container">
            <div class="home-wrapper-item-text">
                <h5>Welcome to zeteq</h5>
                <h1>The Coding Ninjas</h1>
                <h6>Your friendly neightbourhood coding ninjas...</h6>
            </div>
            <div class="row home-wrapper-item-img">
                <div class="col-sm-3">
                    <img class="img-responsive" src="assets/images/slide1/codingNinjas-1.png" alt=""/>
                </div>

                <div class="col-sm-3">
                    <img src="assets/images/slide1/codingNinjas-2.png" alt=""/>
                </div>

                <div class="col-sm-3">
                    <img src="assets/images/slide1/codingNinjas-3.png" alt=""/>
                </div>

                <div class="col-sm-3">
                    <img src="assets/images/slide1/codingNinjas-4.png" alt=""/>
                </div>
            </div>

        </div>
    </div>

    <div class="item home-wrapper-item">
        <div class="container">

            <div class="row">

                <div class="col-sm-9">
                    <div class="home-wrapper-item-text home-wrapper-item-text-common">
                        <h5>Welcome to The Future</h5>
                        <h1>Mean</h1>
                        <h6>We Develope cutting edge web applications <br/>on the Mongo/Express/Angular running on the<br/> Node.js web server.
                            <br/><br/>
                            If you are looking for ultra fast, desktop styled<br/>web applications, that can also handle big data<br/>
                            than mean is your friend.
                        </h6>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="home-wrapper-item-img home-wrapper-item-img-common">
                        <img class="img-responsive" src="assets/images/slide2/mean.png" alt=""/>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="item home-wrapper-item">
        <div class="container">

            <div class="row">
                <div class="col-sm-7">
                    <div class="home-wrapper-item-text home-wrapper-item-text-common">
                        <h5>Mobile Apps for IOS ANDROID AND WINDOWS</h5>
                        <h1>Mobile</h1>
                        <h6>IF YOU ARE LOOKING FOR A MOBILE APPLICATION <br/>THAT CAN RUN ACCROSS PLATFORM AND THE DEVELOPMENT COST WON'T<br/>
                            BREAK YOUR POCKET THEN YOU CAN CONSIDER HYBRID MOBILE APPLICTION.
                            <br/><br/>
                            We develop mobile applications on IONIC, Apache cordova and the Phonegap<br/>platform.
                        </h6>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="home-wrapper-item-img home-wrapper-item-img-common">
                        <img class="img-responsive" src="assets/images/slide3/mobile.png" alt=""/>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="item home-wrapper-item">
        <div class="container">

            <div class="row">
                <div class="col-sm-8">
                    <div class="home-wrapper-item-text home-wrapper-item-text-common home-wrapper-item-text-graphics">
                        <h5>We are brains with a sense of beauty</h5>
                        <h1>Graphics</h1>
                        <h6>No matter how great your app is, how many features <br/>it got, if it does not look good
                            it probably is<br/> not going to make it big. Not only do we develop<br/> your product, but we
                            provide the complete end<br/> to end graphics solutions, starting from the<br/> logo, user interface, branding etc.
                        </h6>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="home-wrapper-item-img home-wrapper-item-img-common">
                        <img class="img-responsive" src="assets/images/slide4/graphics.png" alt=""/>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="item home-wrapper-item">
        <div class="container">

            <div class="row">
                <div class="col-sm-7">
                    <div class="home-wrapper-item-text home-wrapper-item-text-common">
                        <h5>ROCK SOLID PLATFORM</h5>
                        <h1>Lamp</h1>
                        <h6>SCALABLE SECURE AND FAST WEB BASED APPLICATIONS<br/>AND WEBSITES RUNNING ON THE CLASSIC AND <br/>
                            PROVEN LINUX/APACHE/MYSQL AND PHP. <br/>
                            WE DEVELOP OUR SOLUTIONS ON THE RENOWNED<br/>SYMPHONY PLATFORM.
                        </h6>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="home-wrapper-item-img home-wrapper-item-img-common">
                        <img class="img-responsive" src="assets/images/slide5/lamp.png" alt=""/>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="item home-wrapper-item">
        <div class="container">

            <div class="row">
                <div class="col-sm-7">
                    <div class="home-wrapper-item-text home-wrapper-item-text-common">
                        <h5>Communication Applications on</h5>
                        <h1>Xmpp</h1>
                        <h6>We develop online communication and collaboration<br/>tools on the renowned Ejabberd server. If you are
                            <br/>looking to develop an application that requires <br/>real time interaction between the users, then XMPP
                            <br/>is the way to go...
                        </h6>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="home-wrapper-item-img home-wrapper-item-img-common">
                        <img class="img-responsive" src="assets/images/slide6/xmpp.png" alt=""/>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="item home-wrapper-item">
        <div class="container">

            <div class="row">
                <div class="col-sm-7">
                    <div class="home-wrapper-item-text home-wrapper-item-text-common">
                        <h5>Geograpic and mapping applications</h5>
                        <h1>Gis</h1>
                        <h6>We develop applications for analyzing<br/>and working with geospatial data. We use geoserver
                            <br/>along with POSTGIS for
                        </h6>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="home-wrapper-item-img home-wrapper-item-img-common">
                        <img class="img-responsive" src="assets/images/slide7/gis.png" alt=""/>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>